html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px; /* height of sticky header */
}

body {
    /* background-color: #231f20; */
    font-family: 'PPTelegraf-Regular', Arial, sans-serif;
}

/* #banner {
    width: 100%;
    overflow: auto;
} */

#circle_logo_white {
    height: 6vh;
    display: block;
    margin: 0 auto;
}

#circle {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 80vh;
    line-height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: #231f20;
    text-align: center;
    background: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jointhecircle {
    margin-top: 40vh;
    color: #231f20;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thanks {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sticky-nav {
    z-index: 1000;
    font-family: 'PPTelegraf-Regular', Arial, sans-serif;
    position: sticky;
    top: 0;
    /* background-color: #231f20; */
}

.sticky-nav ul {
  background-color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'PPTelegraf-Regular', Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 60px; /* Adjust the height as needed */
  }
  
  .sticky-nav li {
    margin-right: 20px; /* Adjust the spacing between navigation items */
    color: #231f20;
  }
  
  .sticky-nav a {
    text-decoration: none;
    color: #231f20;
    padding: 10px 15px; /* Adjust the link padding as needed */
    transition: color 0.3s ease;
  }
  
  .sticky-nav a:hover {
    color: #007bff; /* Replace with your desired link hover color */
  }

  .site-footer {
    color: #231f20;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .section {
    /* padding: 50vw; */
    background-color: #d9d9d9;
    margin: 2%;
    color: #231f20;
    height: 500px;
    text-align: center;
  }

  .word-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    /* position: fixed; */
    bottom: 0;
  }
  
  .word {
    padding: 10px;
  }

  /* fonts */
  @font-face {
    font-family: 'PPTelegraf-Regular';
    src:
    url('fonts/PPTelegraf-Regular.woff') format('woff'),
    url('fonts/PPTelegraf-Regular.ttf') format('truetype'),
    url('fonts/PPTelegraf-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  .swiper {
    width: 600px;
    height: 300px;
  }