/* Global Styles */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 118px; /* Height of sticky header */
}

body {
  font-family: 'PPTelegraf-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
#banner {
  margin-top: 2%;
}

#circle_logo_white {
  height: 6vh;
  display: block;
  margin: 0 auto;
}

#circle {
  display: none;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 80vh;
  line-height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #231f20;
  text-align: center;
  background: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#jointhecircle {
  margin-top: 40vh;
  color: #231f20;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanks {
  display: none;
}

/* Navigation Styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sticky-nav {
  z-index: 1000;
  font-family: 'PPTelegraf-Regular', Arial, sans-serif;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.sticky-nav ul {
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'PPTelegraf-Regular', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.sticky-nav li {
  margin-right: 20px;
  color: #231f20;
}

.sticky-nav a {
  text-decoration: none;
  color: #231f20;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.sticky-nav a:hover {
  color: #007bff;
}

/* Footer Styles */

.site-footer {
  color: #231f20;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Section Styles */

/* services section styles */
.flex-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: space-between; /* Center vertically */
  height: 300px; /* Set a height for the container */
}

.div1, .div2 {
  /* width: 200px; */
  /* height: 100px; */
  /* background-color: #f2f2f2; */
  text-align: center;
  line-height: 100px;
  max-width: 600px;
}

.word {
  padding: 10px;
}

/* about section styles */
.section {
  display: flex;
  background-color: #d9d9d9;
  margin: 2%;
  color: #231f20;
  text-align: center;
  height: 300px;
  padding: 20px;
}
.three-thirds {
  flex: 3;
}

.two-thirds {
  flex: 2;
  min-width: 230px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: space-between; /* Center vertically */
  height: 300px; /* Set a height for the container */
}

.one-third {
  flex: 1;
}

/* team section styles */
.circle-container {
  width: 150px; /* Set the width and height to create a circle */
  height: 150px;
  border-radius: 50%; /* Make it circular using half of the width/height */
  background-color: #4F4747; /* Background color for the circle */
  margin: 20px;
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: right; /* Center vertically */
  padding: 4px;
  color: #d9d9d9;
}

.circle-text {
  text-align: center; /* Center the text within the circle */
  margin: 0; /* Remove default margin from the paragraph */
  font-size: 20px;
}

.div2-team {
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: space-between; /* Center vertically */
}

/* technology section styles */
.flex-container-technology {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.div1-technology {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}
.div2-technology {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

/* connect section styles */
.circle-container-connect {
  width: 150px; /* Set the width and height to create a circle */
  height: 150px;
  border-radius: 50%; /* Make it circular using half of the width/height */
  background-color: #FFFAFA; /* Background color for the circle */
  margin: 20px;
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: right; /* Center vertically */
  padding: 4px;
  color: #4F4747;
}

.circle-text-connect {
  text-align: center; /* Center the text within the circle */
  margin: 0; /* Remove default margin from the paragraph */
  font-size: 20px;
}

/* Fonts */

@font-face {
  font-family: 'PPTelegraf-Regular';
  src:
    url('fonts/PPTelegraf-Regular.woff') format('woff'),
    url('fonts/PPTelegraf-Regular.ttf') format('truetype'),
    url('fonts/PPTelegraf-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Slider Styles */

.swiper {
  width: 600px;
  height: 300px;
}

/* Responsive Hamburger Menu */

.mobile-menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .mobile-menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-list.show {
    display: flex;
    top: auto;
    height: fit-content;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .sticky-nav ul {
    display: none;
  }
}

