html {
    scroll-behavior: smooth;
}

body {
    background-color: #231f20;
}

#banner {
    width: 100%;
    overflow: auto;
}

#circle_logo_white {
    height: 6vh;
    display: block;
    margin: 0 auto;
}

#circle {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 80vh;
    line-height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: #000;
    text-align: center;
    background: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jointhecircle {
    margin-top: 40vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thanks {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sticky-nav {
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: #231f20;
}

.sticky-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Adjust the height as needed */
  }
  
  .sticky-nav li {
    margin-right: 20px; /* Adjust the spacing between navigation items */
    color: #fff;
  }
  
  .sticky-nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px; /* Adjust the link padding as needed */
    transition: color 0.3s ease;
  }
  
  .sticky-nav a:hover {
    color: #007bff; /* Replace with your desired link hover color */
  }

  .site-footer {
    background-color: #231f20;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .section {
    /* padding: 50vw; */
    color: #fff;
    height: 500px;
    text-align: center;
  }